div {
  position: absolute;
  width:500px;
  height: 500px;
}

img {
  position: absolute;
  width: 100px;
  height: 100px;
}

#leftSide {
  left: 0px;
  border-right: 3px solid black;
  width: 500px;
  height: 500px;

}

#rightSide {
  left: 500px;
}
